<nav class="navbar navbar-light" style="background-color: #7cb4dd;" >
    <div class="container-fluid">
        <a class="navbar-brand text-bold" href="#">
            <img src="../../assets/logosida.png" alt="logo" width="50" height="50"><span
                class="text-uppercase">SIDA INFO</span>
        </a>
        <a class="navv navbar-brand text-bold navv" routerLink="/questiong">
           <span
            class="text-uppercase">START QUIZ </span> <img src="../../assets/1111.png" alt="logo" width="30" height="30"></a>
    </div>
</nav>