
  <body>
    <div class="container">
      <div class="box">
        <img src="../../assets/general.jpg" />
        <h3>S’informer c’est déjà se protéger</h3>
        <p>
          Comment lutter contre la propagation de l’épidémie si
           l’on ne maîtrise pas les modes de contagion, ni les 
           réflexes à avoir en cas de prise de risque ?
        </p>
        <button class="btnn btn btn-primary btn-lg" routerLink="/question" >Start the Quiz!!</button>

      </div>
      <div class="box">
        <img src="../../assets/solution.jpg" />
        <h3>Les symptômes de la contamination</h3>
        <p>
          Les symptômes les plus fréquents sont : fièvre, céphalées et autres symptômes neurologiques, adénopathies (ganglions gonflés).
          Ces symptômes disparaissent spontanément en quelques jours à quelques semaines.
        </p>
        <button class="btnn btn btn-primary btn-lg" routerLink="/question1" >Start the Quiz!!</button>

      </div>
      <div class="box">
        <img src="../../assets/c1.jpg" />
        <h3>Quiz traitements VIH</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem
          nulla dolorum ducimus, tempora suscipit inventore obcaecati architecto
          rem fuga possimus!
        </p>
        <button class="btnn btn btn-primary btn-lg" routerLink="/question2" >Start the Quiz!!</button>

      </div>
    </div>
  </body>


