
 div.containerr{
    background-image: url("../../assets/Sans\ titre-2.jpg");
    background-size: cover;
padding: 20px;
padding-bottom: 103px;

width: 100%;

}
.videoo{
    margin-top: 4px;
   
}
.info{
    display: flex;
}
.desc{
    padding-top: 20px;
}
.btnn{
    margin-left: 300px;
    background-color: #7cb4dd;
}